body{
  background-image: linear-gradient(to bottom right, black,rgb(11, 0, 73), rgb(107, 0, 0));
  background-attachment: fixed;
}

#mainlogo{
  height:120px;
}

#p1{
  font-weight: bold;
  text-align: right;
  margin-top: -6.8em;
}

#infotext{
  color:white;
  font-size: 1.4em;
  margin-right: 15px;
  text-decoration: none;
  display:inline-block;
}

#infotext::after{
  content: '';
  display:block;
  width: 0;
  height: 2px;
  background: rgb(221, 71, 244);
}

#infotext:hover::after{
  transition: 0.2s;
  width:100%;
}

#aboutus{
  color:white;
  font-size: 40px;
  font-weight: bold;
  margin-top: 45px;
  border: solid;
  border-color:rgb(221, 71, 244);
  padding: 20px 20px 20px 20px;
  width: 210px;
  margin-left: 50%;
  transform: translate(-50%)
}

#aboutparagraph{
  color: white;
  line-height: 32px;
  font-size: 1.4vw;
  text-align: center;
  margin-left: 21%;
  margin-right: 21%;
}

#ourgoal{
  color:white;
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  border: solid;
  border-color:rgb(221, 71, 244); 
  padding: 20px 20px 20px 20px;
  width: 220px;
  margin-left: 50%;
  transform: translate(-50%)
}

#ourparagraph{
  color: white;
  line-height: 32px;
  font-size: 1.4vw;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

#whatspowering{
  color:white;
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  border: solid;
  border-color:rgb(221, 71, 244);
  padding: 20px 20px 20px 20px;
  width: 462px;
  margin-left: 50%;
  transform: translate(-50%)
}

#whatsparagraph{
  color: white;
  line-height: 32px;
  font-size: 1.4vw;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

#whoweare{
  color:white;
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  border: solid;
  border-color:rgb(221, 71, 244); 
  padding: 20px 20px 20px 20px;
  width: 275px;
  margin-left: 50%;
  transform: translate(-50%)
}

#hogman{
  color:white;
  margin-top: 50px;
  margin-left: 51%;
  font-size: 1.8vw;
}

#hogandude{
  margin-left: 30%;
  margin-top: -5.5vw;
  height: 24vw;
  border-right: solid rgb(221, 71, 244);
  padding-right: 25px;
}

#buffnerd{
  color: white;
  margin-left: 51%;
  margin-top: -1.5vw;
  font-size: 1.2vw;
  padding-bottom: 7px;
  border-bottom: solid rgb(221, 71, 244);
  width: 250px;
}

#hogmanparagraph{
  color: white;
  font-size: 1.15vw;
  margin: -19.5% 21% 5% 51%;
}

#contactlogos{
  height: 32px;
  margin-bottom: 20px;
}

#positionlogos{
  position: fixed;
  left: 98%;
  top: 40%;
  transform: translate(-50%);
}