body{
  background-image: linear-gradient(to bottom right, black,rgb(11, 0, 73), rgb(107, 0, 0));
  background-attachment: fixed;
}

#mainlogo{
  height:120px;
}

#p1{
  font-weight: bold;
  text-align: right;
  margin-top: -6.8em;
}

#infotext{
  color:white;
  font-size: 1.4em;
  margin-right: 15px;
  text-decoration: none;
  display:inline-block;
}

#infotext::after{
  content: '';
  display:block;
  width: 0;
  height: 2px;
  background: rgb(221, 71, 244);
}

#infotext:hover::after{
  transition: 0.2s;
  width:100%;
}

#aboutus{
  color:white;
  font-size: 70px;
  font-weight: bold;
  margin-top: 75px;
  border: solid;
  border-color:rgb(221, 71, 244);
  padding: 20px 20px 20px 20px;
  width: 365px;
  margin-left: 50%;
  transform: translate(-50%)
}

#aboutparagraph{
  color: white;
  line-height: 2vw;
  font-size: 1.9vw;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

#ourgoal{
  color:white;
  font-size: 70px;
  font-weight: bold;
  margin-top: 60px;
  border: solid;
  border-color:rgb(221, 71, 244); 
  padding: 20px 20px 20px 20px;
  width: 385px;
  margin-left: 50%;
  transform: translate(-50%)
}

#ourparagraph{
  color: white;
  line-height: 2vw;
  font-size: 1.9vw;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

#whatspowering{
  color:white;
  font-size: 70px;
  font-weight: bold;
  margin-top: 60px;
  border: solid;
  border-color:rgb(221, 71, 244);
  padding: 20px 20px 20px 20px;
  width: 800px;
  margin-left: 50%;
  transform: translate(-50%)
}

#whatsparagraph{
  color: white;
  line-height: 2vw;
  font-size: 1.9vw;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

#whoweare{
  color:white;
  font-size: 70px;
  font-weight: bold;
  margin-top: 60px;
  border: solid;
  border-color:rgb(221, 71, 244); 
  padding: 20px 20px 20px 20px;
  width: 480px;
  margin-left: 50%;
  transform: translate(-50%)
}

#hogman{
  color:white;
  margin-left: 44vw;
  font-size: 3.4vw;
}

#hogandude{
  position: absolute;
  margin-left: 14%;
  margin-top: -10vw;
  width: 27.5vw;
  border-right: solid;
  border-color:rgb(221, 71, 244); 
  padding-right: 20px;
}

#buffnerd{
  color: white;
  margin-left: 44vw;
  margin-top: -2.8vw;
  font-size: 2.4vw;
  border-bottom: solid rgb(221, 71, 244);
  width: 250px;
  padding-bottom: 7px;
}

#hogmanparagraph{
  color: white;
  font-size: 1.86vw;
  margin: -1.6vw 8vw 4vw 44vw;
}

#contactlogos{
  height: 32px;
  margin-bottom: 20px;
}

#positionlogos{
  position: fixed;
  left: 98%;
  top: 40%;
  transform: translate(-50%);
}
