body{
  background-color:black;
}

#Maintext{
  color:white;
  font-weight: bold;
  font-size: 4em;
  margin-top: -.1em;
}

#p1{
  font-weight: bold;
  text-align: right;
  margin-top: -7em;
}

#infotext{
  color:white;
  font-size: 1.4em;
  margin-right: 15px;
  text-decoration: none;
  display:inline-block;
}

#infotext::after{
  content: '';
  display:block;
  width: 0;
  height: 2px;
  background: rgb(189, 15, 220);
}

#infotext:hover::after{
  transition: 0.2s;
  width:100%;
}

#donate{
  position:absolute;
  margin-top: 100px;
  margin-left: 26%;
  font-size: 2.2vw;
  font-weight:bold;
  color:white;
  border:solid;
  border-color:rgb(189, 15, 220);
  padding: 20px 20px 20px 20px;
}

#payment{
  position: absolute;
  margin-left: 22%;
  color:white;
  margin-top: 12%;
  font-size: 2.2vw;
  line-height: 80px;
}

#pictures{
  margin-right: 15px;
  margin-top: 4px;
  width: 35px;
}

#socials{
  position:absolute;
  margin-top: 100px;
  margin-left: 57%;
  font-size: 2.2vw;
  font-weight:bold;
  color:white;
  border:solid;
  border-color:rgb(189, 15, 220);
  padding: 20px 20px 20px 20px;
}

#listofsocials{
  position: absolute;
  margin-left: 49%;
  color:white;
  margin-top: 12%;
  font-size: 2.2vw;
  line-height: 80px;
}

a{
  text-decoration: none;
  color:white;
}

#closingtext{
  color: white;
  text-align: center;
  margin-top: 37%;
  font-size: 1.3vw;
}

#individual{
  display:inline-block;
}

#individual::after{
  content: '';
  display:block;
  width: 0;
  height: 2px;
  background: rgb(189, 15, 220);
}

#individual:hover::after{
  transition: 0.2s;
  width:100%;
}
