body{
  background-image: linear-gradient(to bottom right, black,rgb(11, 0, 73), rgb(107, 0, 0));
  background-attachment: fixed;
}

#mainlogo{
  height:120px;
}

#p1{
  font-weight: bold;
  text-align: right;
  margin-top: -6.8em;
}

#infotext{
  color:white;
  font-size: 1.4em;
  margin-right: 15px;
  text-decoration: none;
  display:inline-block;
}

#infotext::after{
  content: '';
  display:block;
  width: 0;
  height: 2px;
  background: rgb(221, 71, 244);
}

#infotext:hover::after{
  transition: 0.2s;
  width:100%;
}

#firsttext{
  color:white;
  font-weight: bold;
  text-align: left;
  padding: 7px 0px 5px 10px;
  font-size: 1.4vw;
  margin-left: 20%;
  margin-top: 5%;
  border: none;
  border-bottom: solid;
  border-color: rgb(221, 71, 244);
  width: 58%;
  border-width: 1px;
}

#maintext{
  color:white;
  font-weight: bold;
  text-align: left;
  padding: 7px 0px 5px 10px;
  font-size: 1.4vw;
  margin-left: 20%;
  border: none;
  border-bottom: solid;
  border-color: rgb(221, 71, 244);
  width: 58%;
  border-width: 1px;
}

#paragraph{
  color:white;
  margin-left: 22%;
  margin-right: 26%;
  font-size: 1.2vw;
}

#contactlogos{
  height: 32px;
  margin-bottom: 20px;
}

#positionlogos{
  position: fixed;
  left: 98%;
  top: 40%;
  transform: translate(-50%);
}