body{
  background-image: linear-gradient(to bottom right, black,rgb(11, 0, 73), rgb(107, 0, 0));
  background-attachment: fixed;
}

#mainlogo{
  height:120px;
}

#p1{
  font-weight: bold;
  text-align: right;
  margin-top: -6.8em;
}

#alltext{
  color:white;
  text-align: center;
  font-weight: bold;
}

#infotext{
  color:white;
  font-size: 1.4em;
  margin-right: 15px;
  text-decoration: none;
  display:inline-block;
}

#infotext::after{
  content: '';
  display:block;
  width: 0;
  height: 2px;
  background: rgb(221, 71, 244);
}

#infotext:hover::after{
  transition: 0.2s;
  width:100%;
}

#justtwodudes{
  margin-top: 120px;
  font-size: 600%;
}

#currentlywalking{
  font-size:300%;
  margin-top: -70px;
}

#stateswalked{
  font-size:350%;
  margin-top: -15px
}

#placeswalked{
  width: 30%;
  height: 30%;
}

#contactlogos{
  height: 32px;
  margin-bottom: 20px;
}

#positionlogos{
  position: fixed;
  left: 98%;
  top: 40%;
  transform: translate(-50%);
}